In [1]:
import wrds
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
import datetime
from scipy import stats
import pickle
from pandas.tseries.offsets import BDay
from pandas.tseries.offsets import DateOffset

In [3]:
db = wrds.Connection(wrds_username='novenwz')
#db.create_pgpass_file()

Enter your WRDS username [jiaxu]:novenwz
Enter your password:········
WRDS recommends setting up a .pgpass file.
You can find more info here:
https://www.postgresql.org/docs/9.5/static/libpq-pgpass.html.
Loading library list...
Done

In [4]:
# Get options data and security prices
def GetData(stock):
    # Find the security id
    sql = '''
    SELECT secid
    FROM optionm.secnmd
    WHERE ticker='%s'
    ''' % stock
    secid = db.raw_sql(sql).loc[:,'secid']
    secid = np.unique(secid)
    
    df = pd.DataFrame()
    # Keep track of the positino of secid
    pos = 0
    while df.empty and pos<=len(secid):
        # Get the data for the options
        sql = '''
        SELECT secid, date, exdate, 
        strike_price, impl_volatility,open_interest,cp_flag,
        forward_price,best_bid,best_offer
        FROM optionm.opprcd1996
        WHERE secid=%s
        AND date >= '1996-06-30'
        ORDER BY date ASC
        ''' % (secid[pos])

        df_2009 = db.raw_sql(sql)

        years = range(1996,2019)

        df10to19 = pd.DataFrame()
        for year in years:
            sql = '''
            SELECT secid, date, exdate,
            strike_price, impl_volatility,open_interest,cp_flag,
            forward_price,best_bid,best_offer
            FROM optionm.opprcd%d
            WHERE secid=%s
            ORDER BY date ASC
            ''' % (year,secid[pos])

            df10to19 = pd.concat([df10to19, db.raw_sql(sql)],axis=0)

        sql = '''
        SELECT secid, date, exdate, 
        strike_price, impl_volatility,open_interest,cp_flag,
        forward_price,best_bid,best_offer
        FROM optionm.opprcd2019
        WHERE secid=%s
        AND date <= '2019-06-30'

        ORDER BY date ASC
        ''' % (secid[pos])

        df_2019 = db.raw_sql(sql)
        df = pd.concat([df_2009,df10to19,df_2019],axis=0)
        df = df.reset_index().drop(columns='index')

        # Get the security prices
        sql = '''
        SELECT date, close
        FROM optionm.secprd
        WHERE secid=%s
        AND date BETWEEN '1996-06-30' AND '2019-06-30'
        ORDER BY date ASC
        ''' % secid[pos]

        price = db.raw_sql(sql)
        close = price['close']
        close.index = price['date']
        pos+=1

    return df, close

import datetime

def third_friday(year, month):
    """
    To find the third friday of each month
    """
    # The 15th is the lowest third day in the month
    third = datetime.date(year, month, 15)
    # What day of the week is the 15th?
    w = third.weekday()
    # Friday is weekday 4
    if w != 4:
        # Replace just the day (of month)
        third = third.replace(day=(15 + (4 - w) % 7))
    return third

def MonthlySeries(df, lastDay=datetime.date(2019,6,30)):
    '''
    To construct the monthly options series
    '''
    # Include only contracts expiring on third friday of each month (Monthly series)
    # Before 2015 exchange set the expiration of monthly series to be on the third Saturday
    # It was changed afterwards to be on third Friday
    # So two difference ways are employed to get the monthly series
    monthlies = pd.DataFrame()
    exdates = np.sort(df.exdate.unique())
    for date in exdates:
        # If it is a Saturday
        if date.weekday() == 5:
            temp = df[df.exdate==date]
            monthlies = pd.concat([monthlies,temp],axis=0)
        # If it is between 15 and 21 in a month (a third friday has to fall in this range)
        elif date.day >= 15 and date.day <= 21:
            if date == third_friday(date.year,date.month):
                temp = df[df.exdate==date]
                monthlies = pd.concat([monthlies,temp],axis=0)
    # Find the next exdate after our analysis period. (i.e. 2019-06-30)
    lastExdate = monthlies.exdate.unique()[monthlies.exdate.unique()>lastDay][0]
    # The rest of the expirations are not of interest to our analysis period.
    return monthlies[monthlies.exdate<=lastExdate]

In [ ]:
spo,spx = GetData("SPX")

In [ ]:
m = MonthlySeries(spo,datetime.date(2019,6,30))

In [ ]:
print(sorted(m.date.unique())[0])
print(sorted(m.date.unique())[-1])

In [19]:
m.to_csv('data\\spx_opt_monthly.csv')

In [22]:
m.head()

,secid,date,exdate,strike_price,impl_volatility,open_interest,cp_flag,forward_price,best_bid,best_offer
41885,108105.0,1996-01-04,1996-01-20,650000.0,0.120305,617.0,C,618.473789,0.0625,0.125
41888,108105.0,1996-01-04,1996-01-20,540000.0,NaN,108.0,C,618.473789,75.5000,76.500
41891,108105.0,1996-01-04,1996-01-20,525000.0,NaN,544.0,C,618.473789,90.5000,91.500
41892,108105.0,1996-01-04,1996-01-20,400000.0,NaN,7020.0,C,618.473789,215.1250,216.125
41894,108105.0,1996-01-04,1996-01-20,525000.0,0.328031,3725.0,P,618.473789,0.0000,0.125